<div class="container">
    <div class="main-body">    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
            <div class="col mb-3" *ngFor="let userModel of userData">
              <div class="card">
                <img src="/assets/img/userBackground.jpg" alt="Cover" class="card-img-top">
                <div class="card-body text-center">
                  <img src="{{userModel?.user?.picture?.thumbnail}}" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                  <h5 class="card-title">{{userModel?.user?.name?.title}}&nbsp;{{userModel?.user?.name?.first}}&nbsp;{{userModel?.user?.name?.last}}</h5>
                  <p class="text-secondary mb-1">{{userModel?.user?.email}}</p>
                  <p class="text-muted font-size-sm">{{userModel?.user?.location?.street}},{{userModel?.user?.location?.city}},{{userModel?.user?.location?.state}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>