<div class="container">
    <div class="main-body">
        <h1>ADD USER</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="title"><b>Title</b></label>
        <input type="text"   placeholder="Enter Title"  [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.name.title"  name="title" id="title" required>
        <label for="firstName"><b>First Name</b></label>
        <input type="text"  placeholder="Enter First Name" name="firstName" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.name.firstName" id="firstName" required>
        <label for="lastname"><b>Last Name</b></label>
        <input type="text"   placeholder="Enter Last Name" name="lastname" id="lastname" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.name.lastName" required>
        <label for="username"><b>User Name</b></label>
        <input type="text" placeholder="Enter User Name" name="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.userName" id="username" required>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.password" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <label for="dob"><b>DOB</b></label>
        <input type="text" placeholder="DOB" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.dob" name="dob" id="dob" required>
        <label for="phone"><b>Phone</b></label>
        <input type="text" placeholder="Phone" name="phonet" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.phone" id="phone" required>
        <button type="submit" (click)="addUser()" class="registerbtn">Add</button>
    </div>


</div>