<div class="wrapper">
  <!-- Top Bar Start -->
  <div class="top-bar">
      <div class="container-fluid">
          <div class="row align-items-center">
              <div class="col-lg-4 col-md-12">
                  <div class="logo heading">
                      <a href="index.html">
                          <h1>White Rabbit</h1>
                          <h6>White Rabbit Group</h6>
                          <!-- <img src="assets/img/logo.jpg" alt="Logo"> -->
                      </a>
                  </div>
              </div>
              <div class="col-lg-8 col-md-7 d-none d-lg-block">
                  <div class="row">
                      <div class="col-4">
                          <div class="top-bar-item">
                              <div class="top-bar-icon">
                                  <i class="flaticon-calendar"></i>
                              </div>
                              <div class="top-bar-text">
                                  <h3>Opening Hour</h3>
                                  <p>Mon - Fri, 9:30 AM - 5:30 PM</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="top-bar-item">
                              <div class="top-bar-icon">
                                  <i class="flaticon-call"></i>
                              </div>
                              <div class="top-bar-text">
                                  <h3>Call Us</h3>
                                  <p>+916282370765</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-5">
                          <div class="top-bar-item">
                              <div class="top-bar-icon">
                                  <i class="flaticon-send-mail"></i>
                              </div>
                              <div class="top-bar-text">
                                  <h3>Email Us</h3>
                                  <p>vishnu.u@whiterabbit.group</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Top Bar End -->


  <router-outlet></router-outlet>
  <!-- Footer Start -->
  <div class="footer wow fadeIn" data-wow-delay="0.3s">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-3">
                  <div class="footer-contact">
                      <h2>Office Contact</h2>

                      <p><i class="fa fa-map-marker-alt"></i>8th Floor, Trans Asia Cyber Park, Infopark, Cochin 682303</p>
                      <p><i class="fa fa-phone-alt"></i>+916282370765</p>
                      <p><i class="fa fa-envelope"></i>vishnu.u@whiterabbit.group</p>
                      <div class="footer-social">
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-youtube"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-link">
                      <h2>Direct Links</h2>
                      <a href="http://www.whiterabbit.group" target="_blank">www.whiterabbit.group</a>
                     
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-link">
                      <h2>Useful Pages</h2>
                      <a  routerLink="urbanz">Home</a>
                      <a  routerLink="urbanz/about">About Us</a>
                      <a  routerLink="urbanz/contact">Contact Us</a>
                      <a  routerLink="services/admission">Join Us</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="newsletter">
                      <h2>White Rabbit</h2>
                      <p>
                          <img src="../assets/img/wrt.jpg" width="100%"/>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="container footer-menu">
          <div class="f-menu">
              <a href="">Terms of use</a>
              <a href="">Privacy Policy</a>
              <a href="">Cookies</a>
              <a href="">Help</a>
              <a href="">FAQs</a>
          </div>
      </div>
     
  </div>
  <!-- Footer End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>