<div class="searchbar">
    <input type="text" [(ngModel)]="searchKey" placeholder="Search with Email.." name="search">
    <button type="submit" (click)="search()">Search</button>
    <button type="submit" (click)="clear()">Clear</button>
</div>
<div class="home-wrapper">
    <div style="width:70%">
        <app-user [userData]="userData"></app-user>
    </div>
    <div style="width:30%;">
        <app-add-user (usersEmitter)="addUser($event)"></app-add-user>
    </div>
</div>